<div id="homepage">

  <header class="text-center conatiner col-12">
    <h2><b>Thinking about getting a pet?</b><h2>
    <h5>Every year hundereds of thousands of people choose to adopt!
      Wonderful pets of all types, breeds, and ages are available, just waiting for your loving home.
      Please click on the heart so we can help match you with the perfect pet. 
    </h5>

<br>
  </header>

  <div class="d-flex flex-row">
  <aside class="container col-3 border">
    <form class="was-validated" id="petfinder-search"> 
      <div class="form-group">
        <label for="type">What type of pet are you looking for?</label>
        <br>
        <select class="custom-select" name="type" id="animal-type" required>
          <option value="" disabled selected hidden>Animal Type</option>
          <option value="dog">Dog</option>
          <option value="cat">Cat</option>
        </select>
        <br><br>
      </div>
      <div class="form-group">
        <label for="location">What is the zip code where you would like to search?</label>
        <br>
        <input class="custom-input" type="text" pattern="\d*" name="location" id="location" minlength="5" maxlength="5" placeholder="Zip Code" required/>
        <br><br>
      </div>    
      <div class="form-group">
        <label for="distance">How far would you like to search in miles?</label>
        <br>
        <select class="custom-select" name="distance" id="distance" required>
          <option value="" disabled selected hidden>Distance</option>
          <option value="10">10 miles</option>
          <option value="20">20 miles</option>
          <option value="50">50 miles</option>
          <option value="100">100 miles</option>
          <option value="250">250 miles</option>
          <option value="500">500 miles</option>
        </select>
        <br><br>
      </div>
      <button class="btn btn-primary" type="submit">Submit form</button>
    </form>
  </aside>


  <section class="container col-9 border">
    <div>
      <h2 id="group-type" style="font:bold; font-family:Verdana, Geneva, Tahoma, sans-serif"></h2>
    </div>
    {{!-- Slider --}}
      <div class="slide-container swiper">
          <div class="slide-content">
              {{!-- {{#each dogs as |dog|}} --}}
              <div class="card-wrapper swiper-wrapper">
                  {{#each pets as |pet|}}
                  <div class="card text-center swiper-slide h-100">
                      <div class="card-header">
                          <h3 class="name"> {{pet.Pet_name}}</h3>
                      </div>
                      <div class="image-content my-3">
                          <div class="card-image">
                              <img src={{pet.photos}} alt={{pet.breed}} id={{pet.photos}} class="card-img">
                          </div>
                      </div>
                      <div class="card-content mx-2">
                          <p class="description pToggle">
                                  {{pet.description}}
                              </p>
                              <p id="view-details1">
                                  <span class="breed-header"> Breed: <span class="breed-type">{{pet.breeds}}</span></span>
                                  <br>
                                  <span class="age-header"> Age: <span class="age-type"> {{pet.Age}} </span></span>
                                  <br>
                                  <span class="detailed-desc">Type: <span class="type-type"> {{pet.type}} </span></span>
                                  <br>
                                  <span class="detailed-desc">ID: <span class="id-type"> {{pet.petfinder_id}} </span></span>
                              </p>
                              <!-- <button onclick="showMore()" type="button" class="btn btn-info btn-rounded"> View More...</button> -->
                              {{!-- <a class="toggleBtn" style="color: rgb(0, 85, 255);" onclick= showMore()> View More &raquo;</a> --}}
                      </div>
                      <div class="card-footer">
                          <button type="button" id={{pet.petfinder_id}} class="btn btn-success btn-rounded contact-pet">Contact</button>
                          {{!-- <button type="button" class="btn btn-primary btn-rounded">
                              <i class="fa-solid fa-heart"></i>
                          </button> --}}
                      </div>

                      
                  </div>
                  {{/each}} 
              </div>
              {{!-- {{/each}} --}}
              {{!-- Navigation Buttons --}}
              {{!-- <div class="swiper-button-next swiper-navBtn"></div>
              <div class="swiper-button-prev swiper-navBtn"></div> --}}
              <div class="swiper-pagination"></div>
          </div>
      </div>
  </section>
  </div>

</div>

<script src="/JavaScript/petfinder-search.js"></script>
<script src="JavaScript/carousel.js" type="module"></script>
<script src="JavaScript/contact.js" type="module"></script>
