
{{!-- {{#if loggedIn}} --}}


{{!-- if Contact Button is clicked - this page --}}

<section class="container mb-4">

		<!--Section heading-->
		<h2 class="h1-responsive font-weight-bold text-center my-4">{{userData.username}}</h2>
		<!--Section description-->
		<p class="text-center w-responsive mx-auto mb-5">My favorite Pets </p>


  <section class="container">
    <div>
      <h2 id="group-type" style="font:bold; font-family:Verdana, Geneva, Tahoma, sans-serif"></h2>
    </div>
    {{!-- Slider --}}
      <div class="slide-container swiper">
          <div class="slide-content">
              {{!-- {{#each dogs as |dog|}} --}}
              <div class="card-wrapper swiper-wrapper">
                  {{#each pets as |pet|}}
                  <div class="card text-center swiper-slide">
                      <div class="card-header">
                          <h3 class="name"> {{pet.Pet_name}}</h3>
                      </div>
                      <div class="image-content my-3">
                          <div class="card-image">
                              <img src={{pet.photos}} alt="{{pet.breed}}" class="card-img">
                          </div>
                      </div>
                      <div class="card-content mx-2">
                          <p class="description">
                                  {{pet.description}}
                              </p>
                              <p id="view-details1">
                                  <span class="breed-header"> Breed: <span class="breed-type">{{pet.breeds}}</span></span>
                                  <br>
                                  <span class="age-header"> Age: <span class="breed-type"> {{pet.Age}} </span></span>
                                  <br>
                                  <span class="detailed-desc">Type: <span class="breed-type"> {{pet.type}} </span></span>
                                  <br>
                                  <span class="detailed-desc">ID: <span class="breed-type"> {{pet.petfinder_id}} </span></span>
                              </p>
                              <!-- <button onclick="showMore()" type="button" class="btn btn-info btn-rounded"> View More...</button> -->
                              {{!-- <a class="toggleBtn" style="color: rgb(0, 85, 255);" onclick= showMore()> View More &raquo;</a> --}}
                      </div>
                      <div class="card-footer">
                          <button type="button" class="btn btn-success btn-rounded">Contact</button>
                          <button type="button" class="btn btn-primary btn-rounded">
                              <i class="fa-solid fa-heart"></i>
                          </button>
                      </div>

                      
                  </div>
                  {{/each}} 
              </div>
              {{!-- {{/each}} --}}
              {{!-- Navigation Buttons --}}
              <div class="swiper-button-next swiper-navBtn"></div>
              <div class="swiper-button-prev swiper-navBtn"></div>
              <div class="swiper-pagination"></div>
          </div>
      </div>
  </section>


		<div class="row">

			<!--Grid column-->
			<div class="col-md-9 mb-md-0 mb-5">

				
				

			</div>
			<!--Grid column-->

		

		</div>

	</section>
	<!--Section: Contact v.2-->

	<script src="JavaScript/carousel.js" type="module"></script>


{{#if loggedIn}}

  <div id="mypage">
    <div class="container" id="box">
      <div class="row well">
        <h5>Here is the information about the rescue organizations/animal
          shelter where your best friend is waiting for you:
        </h5>
        <br /><br />
        <center>
          <button class="btn btn-dark hidden-print" onclick="myFunction()"><span
              class="glyphicon glyphicon-print"
              aria-hidden="true"
            ></span>
            Print the page</button>
        </center>
      </div>
    </div>
    <script src="/javascript/print.js"></script>
  </div>
{{!-- {{else}} --}}
  <a href="/login">You must login first to view this page</a>

{{/if}}

