<h1>
    petfinder search test!
</h1>
<h2>
    {{!-- {{#if searchIdArray}} --}}
    Display worked!
</h2>

<div class="container">
    <div class="slide-container swiper">
        <div class="slide-content">
            {{!-- {{#each dogs as |dog|}} --}}
            <div class="card-wrapper swiper-wrapper">
                {{#each types as |type|}}
                <div class="card text-center swiper-slide">
                    <div class="card-header">
                        <h3 class="name"> {{type.Pet_name}}</h3>
                    </div>
                    <div class="image-content my-3">
                        <div class="card-image">
                            <img src="/images/image1.jpeg" alt="Black Lab" class="card-img">
                        </div>
                    </div>
                    <div class="card-content mx-2 span4 collapse-group">
                        <p class="description">
                                {{type.description}}
                            </p>
                            <p id="view-details1">
                                <span class="breed-header"> Breed: <span class="breed-type">{{type.breeds}}</span></span>
                                <br>
                                <span class="age-header"> Age: <span class="breed-type"> {{type.Age}} </span></span>
                                <br>
                                <span class="detailed-desc">Type: <span class="breed-type"> {{type.type}} </span></span>
                                <br>
                                <span class="detailed-desc">ID: <span class="breed-type"> {{type.id}} </span></span>                                
                            </p>
                            <!-- <button onclick="showMore()" type="button" class="btn btn-info btn-rounded"> View More...</button> -->
                            {{!-- <a style="color: rgb(0, 85, 255);" onclick= showMore()> View More &raquo;</a> --}}
                    </div>
                    <div class="card-footer">
                        <button type="button" class="btn btn-success btn-rounded">Contact</button>
                        <button type="button" class="btn btn-primary btn-rounded">
                            <i class="fa-solid fa-heart"></i>
                        </button>
                    </div>

                    
                </div>
                {{/each}} 
            </div>
            {{!-- {{/each}} --}}
            {{!-- Navigation Buttons --}}
            <div class="swiper-button-next swiper-navBtn"></div>
            <div class="swiper-button-prev swiper-navBtn"></div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
</div>

{{!-- <script src="/JavaScript/carousel.js" type="module"></script> --}}
<script src="/JavaScript/carouselByBreed.js" type="module"></script>
    {{!-- {{searchIdArray[0]}}
    {{searchIdArray[1]}}
    {{searchIdArray[2]}}
    {{searchIdArray[3]}}
    {{searchIdArray[4]}}
    {{else}}
    Sad face


    {{/if}} --}}



{{!-- <script src="JavaScript/search-results.js"></script> --}}