<h3>
    Your search returned {{results.length}} results:
</h3>

<h4>Filter Results:</h4>
<div class="d-flex">
    <form class="was-validated" id="filter-results">
        <select class="custom-select" name="gender" id="gender">
            <option value=null disabled selected hidden>Gender</option>
            <option value="male">Male</option>
            <option value="female">Female</option>
        </select>
        <select class="custom-select" name="age" id="age">
            <option value=null disabled selected hidden>Age</option>
            <option value="baby">Baby</option>
            <option value="young">Young</option>
            <option value="adult">Adult</option>
            <option value="senior">Senior</option>
        </select>
        <select class="custom-select" name="size" id="size">
            <option value=null disabled selected hidden>Size</option>
            <option value="small">Small</option>
            <option value="medium">Medium</option>
            <option value="large">Large</option>
            <option value="xlarge">Extra Large</option>
        </select>
        <button class="btn btn-primary" type="submit">Filter</button>
    </form>
</div>

<div class="container">
    <div class="slide-container swiper">
        <div class="slide-content">
            <div class="card-wrapper swiper-wrapper">
                {{#each results as |result|}}
                <div class="card text-center swiper-slide">
                    <div class="card-header">
                        <h3 class="name"> {{result.Pet_name}}</h3>
                    </div>
                    <div class="image-content my-3">
                        <div class="card-image">
                            <img src="{{result.photos}}" alt="Image of Pet" class="card-img">
                        </div>
                    </div>
                    <div class="card-content mx-2 span4 collapse-group">
                        <p class="description">
                                {{result.description}}
                            </p>
                            <p id="view-details1">
                                <span class="breed-header"> Breed: <span class="breed-type">{{result.breeds}}</span></span>
                                <br>
                                <span class="age-header"> Age: <span class="breed-type"> {{result.Age}} </span></span>
                                <br>
                                <span class="detailed-desc">Type: <span class="breed-type"> {{result.type}} </span></span>
                                <br>
                                <span class="detailed-desc">ID: <span class="breed-type"> {{result.id}} </span></span>                                
                            </p>
                            <!-- <button onclick="showMore()" type="button" class="btn btn-info btn-rounded"> View More...</button> -->
                            {{!-- <a style="color: rgb(0, 85, 255);" onclick= showMore()> View More &raquo;</a> --}}
                    </div>
                    <div class="card-footer">
                        <button type="button" class="btn btn-success btn-rounded">Contact</button>
                        <button type="button" class="btn btn-primary btn-rounded">
                            <i class="fa-solid fa-heart"></i>
                        </button>
                    </div>

                    
                </div>
                {{/each}} 
            </div>
            {{!-- {{/each}} --}}
            {{!-- Navigation Buttons --}}
            <div class="swiper-button-next swiper-navBtn"></div>
            <div class="swiper-button-prev swiper-navBtn"></div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
</div>

{{!-- <script src="/JavaScript/carousel.js" type="module"></script> --}}
<script src="/JavaScript/carouselByBreed.js" type="module"></script>

<script src="/JavaScript/search-results.js"></script>